<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicmelody">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity
            android:name=".MusicActivity"
            android:exported="false" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>